# SPDX-License-Identifier: GPL-3.0-or-later
MEMORY {
    ZP: start = $0006, size = $001A, file = "";
    MODULE: start = $4200, size = $0CE0, file = %O;
    STATE: start = $4EE0, size = $0020, file = "";
}
SEGMENTS {
    ZEROPAGE: load = ZP, type = zp, optional = yes;
    OVERLAY: load = MODULE, type = rw;
    DISPATCH: load = MODULE, type = rw;
    CODE: load = MODULE, type = ro;
    RODATA: load = MODULE, type = ro, optional = yes;
    DATA: load = MODULE, type = rw, optional = yes;
    PRIVATESTATE: load = STATE, type = bss;
    BSS: load = STATE, type = bss, optional = yes;
}
