# SPDX-License-Identifier: GPL-3.0-or-later
# Standalone destructive-to-disposable-media probe; not a boot image.
MEMORY {
    ZP: start=$0002, size=$001E, type=rw, file="";
    MAIN: start=$2800, size=$6800, type=rw, file=%O;
    STATE: start=$9000, size=$0800, type=rw, file="";
}
SEGMENTS {
    ZEROPAGE: load=ZP, type=zp;
    STARTUP: load=MAIN, type=ro;
    CODE: load=MAIN, type=ro;
    RODATA: load=MAIN, type=ro;
    DATA: load=MAIN, type=rw;
    BLOBS: load=MAIN, type=ro;
    BSS: load=STATE, type=bss, define=yes;
}
