# SPDX-License-Identifier: GPL-3.0-or-later
# Simulator-only fixture. Never link this reservation into a boot image.
MEMORY { TEST: start = $8000, size = $1000, file = %O; }
SEGMENTS {
    HEADER: load = TEST, type = ro;
    CODE: load = TEST, type = rw;
    RODATA: load = TEST, type = ro;
    DATA: load = TEST, type = rw;
    BSS: load = TEST, type = bss;
}
