# SPDX-License-Identifier: GPL-3.0-or-later
# Worker FLAT only: I/O would hide these instruction bytes.
MEMORY {
    ZP: start = $0006, size = $001A, type = rw, file = "";
    MODULE: start = $D100, size = $0EE0, type = rw, file = %O;
    STATE: start = $DFE0, size = $0012, type = rw, file = "";
}
SEGMENTS {
    ZEROPAGE: load = ZP, type = zp, optional = yes;
    ENTRY: load = MODULE, type = ro;
    CODE: load = MODULE, type = ro;
    RODATA: load = MODULE, type = ro, optional = yes;
    HIGHBSS: load = STATE, type = bss;
}
