# SPDX-License-Identifier: GPL-3.0-or-later
# Standalone program; these addresses are NOT a resident-placement decision.
MEMORY {
    ZP: start=$0002, size=$001A, type=rw, file="";
    MAIN: start=$2800, size=$1800, type=rw, file=%O;
}
SEGMENTS {
    ZEROPAGE: load=ZP, type=zp;
    STARTUP: load=MAIN, type=rw;
    CODE: load=MAIN, type=rw;
    RODATA: load=MAIN, type=ro;
    BSS: load=MAIN, type=bss, define=yes;
}
