# SPDX-License-Identifier: GPL-3.0-or-later
# Standalone proof addresses, not a production placement proposal.
MEMORY {
    ZP: start=$0002, size=$001A, type=rw, file="";
    MAIN: start=$2800, size=$37FF, type=rw, file=%O;
}
SEGMENTS {
    ZEROPAGE: load=ZP, type=zp;
    STARTUP: load=MAIN, type=rw;
    CODE: load=MAIN, type=rw;
    RODATA: load=MAIN, type=ro;
    DATA: load=MAIN, type=rw;
    BSS: load=MAIN, type=bss, define=yes;
}
