# SPDX-License-Identifier: GPL-3.0-or-later
# Standalone diagnostic only. Pixels at $6000, record at $7FC0, shadow at $A1E0.
MEMORY {
    ZP: start = $0006, size = $001A, type = rw, file = "";
    MAIN: start = $2000, size = $4000, type = rw, file = %O;
    SHADOW: start = $A1E0, size = $1F40, type = rw, file = "";
    STATE: start = $E1B8, size = $0058, type = rw, file = "";
}
SEGMENTS {
    ZEROPAGE: load = ZP, type = zp, optional = yes;
    STARTUP: load = MAIN, type = ro;
    CODE: load = MAIN, type = ro;
    RODATA: load = MAIN, type = ro, optional = yes;
    DATA: load = MAIN, type = rw, optional = yes;
    BSS: load = MAIN, type = bss, optional = yes, define = yes;
    HIGHBSS: load = STATE, type = bss;
    VICSHADOW: load = SHADOW, type = bss;
}
